.Shop__container {
    height: 100%;
    display: flex;
    padding: 1rem;
}

.Shop {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg1);
    padding: 2rem;
    max-width: 90%;
    height: fit-content;
    border-radius: 1rem;
    flex-wrap: wrap;
}

.Location__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
    margin: 1rem;
    text-align: center;
}

img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.Location__img {
    width: 50%;
    height: 10rem;
    margin-bottom: 1rem;
}

a:hover {
    color: white;
}

