.Contact__container {
    height: 100%;
    display: flex;
    padding: 1rem;
}

.Contact {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg1);
    padding: 2rem;
    width: fit-content;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

@media only screen and (max-width: 500px) {
    .Contact h2 {
        font-size: 1.7rem;
    }

    .Contact h3 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 350px) {
    .Contact h2 {
        font-size: 1.3rem;
    }

    .Contact h3 {
        font-size: 1.2rem;
    }
}