.Nav {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: var(--accent1);
  height: fit-content;
}

.Nav__title {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  padding: 0.5rem 0;
}

.Nav__socials {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

nav img {
  height: 12vh;
  margin-right: 1rem;
}

.Nav__links {
  display: flex;
  align-items: center;
}

.Nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.Nav__items li {
  font-size: 2rem;
  margin: 0.2rem;
}

nav a:link {
  color: var(--accent3);
}

nav a:visited {
  color: var(--accent2);
}

nav a:hover {
  color: var(--main-text);
}

.Active {
  text-decoration: underline;
  font-weight: 600;
}

@media only screen and (max-width: 850px) {
  .Nav__items li {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 680px) {
  .Nav__title {
    margin-right: 1rem;
  }
  .Nav__items {
    flex-direction: column;
  }

  nav img {
    height: 10vh;
    margin-right: 0.5rem;
  }
}
